 /*주석은 이렇게 달아요*/

/*
태그이름#아이디 { 속성1:속성값; 속성2:속성값; } 
태그이름.클래스명1, .클래스명2 { 속성1:속성값; 속성2:속성값; }
.클래스명#아이디 { 속성1:속성값; 속성2:속성값; }


공백삽입: &nbsp;
*/

      div.a {
        font-size: medium;
        text-align: left;
      }

      div.b {
        font-size: medium;
      }

   


/*
 white-space:
 pre-wrap; 공백 그대로 표시, enter줄바꿈 O, 자동줄바꿈O
 pre; 공백그대로 표시, enter줄바꿈 O, 자동줄바꿈 X
 normal; 띄어쓰기 1칸, enter줄바꿈X, 자동줄바꿈O
*/


     @font-face {
        font-family:'IropkeBatang';
        src:url('./IropkeBatangM.woff');

      }

     div.notice {
        font-size: 0.90rem;
        font-family: 'IropkeBatang';
	     
        padding: 5px;
	overflow: auto;
	white-space: pre-wrap; /* pre tag내에 word wrap */
      }

      pre {

          font-size: 0.95rem;
          font-family: 'IropkeBatang';
		  padding:10px;
		  
		  overflow: auto;
          white-space: pre-wrap; /* pre tag내에 word wrap */
		  		  
      }

/* 폰트 이름에 작은 따움표 '' 꼭 붙여야 합니다*/
 

     div.solve{
       padding-left: 5px;
       border-left : 3px solid gray;
       text-align: top;
	   font-size:0.95rem;
     
      }

    /* column 2개 */
     div.solve_col_2{
       display: table;
       padding-left: 5px;
       border-left : 3px solid gray;
       text-align: top;
      
      }

     div.solve_col_L {
     display: table-cell;
     padding-right:15px;
     text-align: right;
    
    
      }
 
     div.solve_col_R{
       display: table-cell;
       text-align: left;
       padding-left:10px;
     
      }



   /* 암산 연습 */

    div.math_note{
       display:table;
       background-color:#696969;
       width: 90%;
	   font-family: Courier;
 
      }

      div.math_note_L {

      display: table-cell;
      padding:5px;

      font-size: medium;

      color:white;

      border-right : 1px solid black;
      width: 42%;

      }
 
     div.math_note_R {

      display: table-cell;  
      padding:5px;
      
      font-size: medium;

      color:white;

      border-left : 1px solid black;
      width: 42%;
 
     }
	 
	 
	 


   
      div.book{
       display:table;
       background-color:#D9D9D9;
       width: 100%;
	   font-size: 0.95rem;

/*
	   font-weight:bold;
       font-family: Courier;*/

        color:black;
      }

      div.book_L {

      display: table-cell;
      padding:2px;



      border-right : 1px solid black;
      width: 46%;

      }
 
     div.book_R {

      display: table-cell;  
      padding:2px;
      
      color:black;

      border-left : 1px solid black;
      
 
     }


     div.t_book ,.t_book_LR{
       display:table;

       font-size: 0.90rem;
       color:white;
       background-color:#898989;
       width: 90%;
       vertical-align:top;
      
    }

      div.t_book_L {

      display: table-cell;
      padding:5px;
      border-top   : 5px solid black;  
      border-right : 3px solid black;
      width: 40%;

      }
 
     div.t_book_R {

      display: table-cell;
      padding:5px;

      border-top : 5px solid black;  
      border-left : 3px solid black;

      width: 40%;
 
     }


 

    span.q{

     font-size: 1.1rem;
     color:black;
     line-height:1.5rem;
     background-color:#E7E7E7;
 
    }


    span.accent {
     
     padding:5px;
     background-color:yellow;
     font-weight:bold;
    }
   
    span.accent_g, .green {
     
     margin:2px;
     padding:2px;
     color:black;
	 line-height:1.5rem;
     background-color:lawngreen;
    }


/*em : 상위 요소기준 */
/*rem : 최상위 요소기준 */

  
  span.book {
     
	 line-height:1.3rem;
     padding:2px;
     color:white;
	 font-size:0.95rem;
     background-color:gray;
    }
 

span.label_s , .label_1, .label-1 {

     margin:2px;
     padding: 0;
     font-size: 1.2rem;
	 line-height: 1.5rem;
     color: black;
	 font-weight: bold;
  }
  
  span.label_m, .label_2, .label-2 {

   padding: 0;
    font-size: 1.5rem;
	line-height: 1.8rem;
    color: black;
	 font-weight: bold;
  }

   /*big*/
  span.big  {
     
     margin:2px;
     padding:2px;
     color:black;
	 font-size: 2.0rem;
    }


 span.hanja , .hj{

    font-size: 2.2rem;
    color: black;
	line-height: 1.5rem;
  }

 span.hj-s{

    font-size: 1.8rem;
    color: black;
    margin: 2px;
	line-height: 1.6rem;
  }


  span.title  {
     
     margin:2px;
     padding:2px;
     color:black;
	 font-size: 1.5rem;
    }

  span.blue {
     
     margin:2px;
     padding:2px;
     color:white;
     background-color:#3390FF;
    }
 


   span.accent_yellow, .yellow {
     
     margin:2px;
     padding:2px;
     color:black;
	 line-height:1.4rem;
     background-color:yellow;
    }

    span.accent_black,.black {
     
     margin:2px;
     padding:2px;

     color:white;
     background-color:black;
	 line-height:1.3rem;
 
    }

    span.accent_gray,.gray {
     
     margin:2px;
     padding:2px;
     color:white;
     background-color:gray;
     font-weight:bold;
 
    }

    span.red{

     margin:2px;
     padding:0px;
     font-size: 1.0rem;
	 line-height:1.2rem;
     color:red;
     background-color:#FFEBEB;
 
    }


    U {

     text-decoration : none;
     border-bottom : 2px solid #FF0000;
     padding-bottom : 1px; 
	 line-height: 1.3rem;
   
    }
     

    U.r {

     text-decoration : none;
     border-bottom : 2px solid #FF0000;

     margin-top: 5px; 
     padding-bottom : 0px; 
   
    }

   U.cancel {

     text-decoration: line-through;
	  border-bottom : 2px solid #FFFFFF;
     padding-bottom : 2px; 
   }

    ul.no_dot {
   
    list-style:none;

   }
   
  /*   font-family: 'Nanum Gothic';	*/

  
  
   p.keyword {

     margin-top:5px;
           padding: 5px;
           font-size:0.85rem;
           line-height:1.3rem;

           color:black;

           overflow:auto;
           white-space: pre-wrap;
           background-color:#EBFBEB;

          }


div.keyword-div {

           margin-top:5px;
           padding: 5px;
           font-size:0.90rem;
           line-height:1.3rem;

           color:black;

           overflow:auto;
           white-space: pre-wrap;
           background-color:#EBFBEB;

          }
